//COLORS:
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777777;
$color-dirty-white: #f5f5f5;
$color-shadow: #00000044;

$color-section-background: #f7f7f7;
$color-section: #333333;

//GRID:
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 2rem;

//FONT:
$default-font-size: 1.6rem;